<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BGMRank</title>
    <link rel="stylesheet" href="/css/style.min.css"/>
    <link rel="prefetch" href="/js/rank.min.js" />
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>
            <a href="/">
                <strong>BGM</strong>Rank
            </a>
        </h1>

        <p>
            <a href="http://bgm.tv" target="_blank">bgm.tv</a>
            新番人气排行
        </p>
    </div>
</div>

<div class="container">
    <div class="row ctn-season">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 100%">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="tpl-season">
    <% seasons.forEach(function(season) { %>
    <div class="col-xs-6 col-md-4">
        <a class="thumbnail" href="<%=season.href%>">
            <%=season.name%>
            <% if (season.top && season.top.cover) { %>
            <img src="<%=season.top.cover.replace(/cover\/s/, 'cover/m')%>" class="img-responsive"/>
            <% } else { %>
            <img src="http://lain.bgm.tv/pic/cover/c/9b/e7/59392_05W7s.jpg" class="img-responsive"/>
            <% } %>
        </a>
    </div>
    <% }); %>
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/g/riot@1.0.4,jquery@2.2.3,lodash@4.11.2,d3js@3.4.13,lazysizes@1.5.0,seedrandom@2.4.2"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<script type="text/javascript" src="/js/index.min.js"></script>
</body>
</html>